.bg-ed{
    background: rgb(0,36,32);
background: -moz-linear-gradient(90deg, rgba(0,36,32,1) 0%, rgba(9,75,121,1) 50%, rgba(0,212,255,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(0,36,32,1) 0%, rgba(9,75,121,1) 50%, rgba(0,212,255,1) 100%);
background: linear-gradient(90deg, rgba(0,36,32,1) 0%, rgba(9,75,121,1) 50%, rgba(0,212,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002420",endColorstr="#00d4ff",GradientType=1);
}